-R
-d
Applications
Desktop
Documents
Downloads
Library
MAMP PRO
Movies
Music
PacketTracer7
PhpstormProjects
Pictures
Public
isus
java_error_in_phpstorm.hprof
unison.log
.antigen
.bash_sessions
.composer
.cups
.docker
.emacs.d
.idlerc
.local
.m2
.oracle_jre_usage
.ssh
.Trash
.zcompcache
.archey-ip
.bash_history
.bash_profile.pysave
.CFUserTextEncoding
.DS_Store
.gitconfig
.histfile
.mysql_history
.packettracer
.profile
.rnd
.zcompdump
.config/nvim/plugged
.viminfo
.nvim/undodir
.vim
.cache
.npm
.config/coc
.config/configstore
CmapToolsLogs
.oh-my-zsh
.zsh_history
.zcompdump-eir-pro-5.3
.iterm2
.iterm2_shell_integration.zsh
.yarnrc
yarn.lock
.pylint.d/
.pylint.d/RenFiles1.stats
.wget-hsts
tmux-client-48306.log
